.badge-element-options {
    position:absolute;
    visibility: hidden;
    top:0;
    transition: all .3s ease;
    left:50%;
    transform: translatex(-50%);
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 99;
  }

  .badge-option {
    padding:10px;
  }

  .badge-element {
    box-shadow: none;
    cursor:pointer;
  }

  .badge-element-text:focus{
    cursor:text;
  }


  .badge-element:focus ~ .badge-element-options, .badge-element-options:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%);
    background:#efefef;
  }

.badge-canvas select {
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  padding: 6px 8px;
  min-width: 80px;
  /* border: none; */
  box-shadow: none;
  background: #ffffff;
  /* background-image: none; */
  -webkit-appearance: none;
  line-height: 1.4;
  cursor: pointer;
}

 .badge-element select:focus {
    outline: none;
}


.color-grid {
  display: none;
  z-index:99;
}


.color-grid-preview:focus + .color-grid, .color-grid:hover  {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background: #FFF;
  border: 1px solid #efefef;
  box-shadow: 0 0 11px 0px #d8d8d8;
}

.color-grid-color-container{
  height:24px; 
  width:24px;
  padding: 2px;
  position: relative
}



.color-grid-square {
  height:100%;
  width:100%;
  cursor:pointer;
  border: 1px solid #efefef;
}

.color-grid-square:hover {
  height:100%;
  width:100%;
  cursor:pointer;
}

.color-grid input {
  display: none;
}

.color-grid input::checked +  {
  transform:scale(1.1)
}